.content {
    width: 100%;
    height: 100%;
    position: relative;
}

.content_menu {
    width: 20%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    background-color: #66cccc;
}

.content_menu_item {
    width: 100%;
    height: 80px;
    position: relative;
    background-color: #66cccc;
    text-align: center;
    border-bottom: 1px solid #ffffff;
    cursor: pointer;
}

    .content_menu_item p {
        line-height: 80px;
        font-size: 1.5em;
    }

        .content_menu_item p:hover {
            color: #ccffcc;
        }

.content_detail {
    width: 80%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 20%; 
    background-color: #ccffcc;
}

.content_detail iframe{
    display: block;
    width:100%;
    height:100%;
    position: relative;
    margin: 0 auto;
    border:none;
}
